.vs/
packages/*
**/bin/
**/obj/
*.suo

# ignore testing project
Testing

Debug/*
Release/*
Libraries/DirectXTex/Debug/*
Libraries/DirectXTex/Release/*
Toolkit.opensdf
Toolkit.sdf
Libraries/DirectXTex/x64/Release/*
x64/Release/*
